// Variables
$color-pink: rgb(218, 49, 113);
$color-grey:  rgb(179, 179, 179);
$color-white: #fff;
$color-dark_grey: rgb(61, 59, 59);

//Fuentes
@font-face {
  font-family: ProximaNova;
  src: url(/fonts/ProximaNova/ProximaNova-Regular.otf) format('opentype');
}

@font-face {
  font-family: ProximaNovaSemibold;
  src: url(/fonts/ProximaNovaSemibold/ProximaNova-Semibold.otf) format('opentype');
}

@font-face {
  font-family: ProximaNovaLight;
  src: url(/fonts/ProximaNovaLight/ProximaNova-Light.otf) format('opentype');
}

@font-face {
  font-family: ProximaNovaBold;
  src: url(/fonts/ProximaNovaBold/ProximaNova-Bold.otf) format('opentype');
}

// Estilos globales
* {
  box-sizing: border-box;
  body {
    margin: 100px 100px 100px 150px;
  }
}

// Estilos del titulo
.title {
  p {
  color: $color-pink;
  font-family: 'ProximaNovaLight', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
}
  h1 {
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 10px;
    color: $color-dark_grey
  }
  hr {
    border: solid 3px $color-dark_grey;
    margin-bottom: 50px;
  }
}

.mural-size-name {
  font-family: 'ProximaNova', sans-serif;
}

.mural-size-selector {
  display: inline-flex;
  margin-bottom: 50px;
  .name {
    font-family: 'ProximaNovaBold';
    margin-bottom: 3px;
  }
}


.mural-size {
  background: $color-white;
  border: solid 1px $color-grey;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  p, img {
    font-family: 'ProximaNova', sans-serif;
    margin: auto;
  }
}

.default {
  width: 60px;
  min-height: 40px;
  margin: 30px auto 10px;
  font-family: 'ProximaNova', sans-serif;
}

.horizontal-2x {
  width: 80px;
  min-height: 40px;
  margin: 30px auto 10px;
}

.horizontal-3x {
  width: 100px;
  min-height: 40px;
  margin: 30px auto 10px;
}

.vertical-2x {
  width: 34px;
  min-height: 50px;
  margin: 20px auto 10px;
}

.vertical-3x {
  width: 34px;
  min-height: 64px;
  margin: 15px auto 3px;
}

.custom {
  width: 95px;
  min-height: 80px;
  margin: 15px auto 0;
}

input[type="radio"] {
  display: none;
}

.selected {
  border: 3px solid $color-pink;
}

label {
  cursor: pointer;
  border: 1px solid $color-grey;
  width: 150px;
  height: 150px;
  background: rgb(241, 241, 241);
  display: flex;
  text-align: center;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-right:30px;
  span {
    font-family: 'ProximaNovaLight', sans-serif;
  }
}

.custom-size {
  display: flex;
  margin: 0;
  margin-left: 10px;
  p {
    margin-right: 50px;
    font-size: 14px;
  }
  input {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid $color-grey;
    margin-right: 15px;
  }
}

.input-number {
  font-size: 20px;
  text-align: center;
}

.input-number:focus {
  outline: none;
  border: 3px solid $color-pink;
}

.mural-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 45px;
  button {
    background: $color-pink;
    margin-top: 50px;
    width: 150px;
    height: 60px;
    display: block;
    border-radius: 5px;
    color: $color-white;
    font-size: 22px;
    font-family: 'ProximaNovaSemiBld', sans-serif;
    outline: none;
    cursor: pointer;
  }

  button:disabled {
    border: 1px solid $color-grey;
    background-color: #cccccc;
    color: #666666;
  }
}

@media only screen and (min-width: 320px) {

  .mural-size-selector {
    display: flex;
    flex-wrap: wrap;
    label {
      width: 140px;
      height: 140px;
      margin-bottom: 15px;
    }
  }

  .mural-button {
    display: flex;
    margin-right: 0;
    justify-content: unset;
  }
}


